<table class="table projecttable">
  <tr>
    <td><h3>Details for {{project.title}}</h3></td>
    <td></td>
  </tr>
  <tr>
    <td>Project Title</td>
    <td>{{project.title}}</td>
  </tr>
  <tr>
    <td>Director</td>
    <td>{{project.director}}</td>
  </tr>
  <tr>
    <td>Release Year</td>
    <td>{{project.releaseYear}}</td>
  </tr>
  <tr>
    <td>Project Genre</td>
    <td>{{project.genre}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary" ui-sref="editProject({id:project._id})">Edit</a>
</div>
