<div class="container">
  <div class="row">
    <div class="offset-3 col-9">

      <div class="input-group">
        <label class="custom-file mr-3 w-100">
          <input type="file" id="file" class="custom-file-input" ng-model-instant id="fileToUpload" multiple
                 onchange="angular.element(this).scope().setFiles(this)">
          <span class="custom-file-control">
            <span>{{files.length ? '('+files.length+' file selected) ' : ''}}</span>
          </span>
        </label>

        <button class="btn btn-success" type="button" ng-click="uploadFile()">Upload!</button>
      </div>

      <!--<div ng-show="files.length">-->
        <!--<div ng-repeat="file in files.slice(0)">-->
          <!--<span>{{file.webkitRelativePath || file.name}}</span>-->
          <!--(<span ng-switch="file.size > 1024*1024">-->
                  <!--<span ng-switch-when="true">{{file.size / 1024 / 1024 | number:2}} MB</span>-->
                  <!--<span ng-switch-default>{{file.size / 1024 | number:2}} kB</span>-->
           <!--</span>)-->
        <!--</div>-->
      <!--</div>-->

      <div ng-show="progressVisible">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{progress}}%;"
               aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">{{progress}}%
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
