<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand " href="#">
      <button class="btn btn-outline-info">autoscience</button>
    </a>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-md-0">
        <li class="nav-item">
          <a class="nav-link" href="#!/ideas">Ideas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/datasets">Datasets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/projects">Projects</a>
        </li>
      </ul>
      <ul class="navbar-nav mt-2 mt-md-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            <span class="octicon octicon-plus border-1"></span>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#!/new/idea">new idea</a>
            <a class="dropdown-item" href="#!/new/dataset">new dataset</a>
            <a class="dropdown-item" href="#!/new/project">new project</a>
          </div>
        </li>
        <!--<li class="nav-item active">-->
          <!--<a class="nav-link" href="#">Signup</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" href="#">Login</a>-->
        <!--</li>-->
      </ul>
    </div>
  </nav>
</div>
