<div class="container">
  <div class="row">
    <div class="offset-3 col-6">

     <div class="card">
        <div class="card-header">
          Project details
        </div>
        <div class="card-block">
            <div ng-include="'app/components/project/views/form.html'"></div>
        </div>

        <div class="card-block text-right">
          <a href class="btn btn-primary" ng-click="create()">Let's start!</a>
          <a href="#!/projects" class="btn btn-secondary">Cancel</a>
        </div>

      </div>

    </div>
  </div>
</div>
