<div class="card">
  <div class="card-header">
    Steps
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Source</li>
    <li class="list-group-item">Variables</li>
  </ul>
</div>
<div class="card mt-2">
  <div class="card-header">
    Project
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><a href="#!/projects/{{d.data.id}}/settings">Settings</a></li>
    <li class="list-group-item">Export</li>
    <li class="list-group-item">Deploy</li>
  </ul>
</div>
