<div class="container">
  <div class="row">
    <div class="offset-2 col-8">
      <div class="card">
        <div class="card-header">
          Project details
        </div>
        <div class="card-block">
          <table class="table">
            <tr>
              <td>Idea</td>
              <td>{{d.data.attributes.title}}</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>{{d.data.attributes.desc}}</td>
            </tr>
            <tr>
              <td>Created</td>
              <td>{{d.data.attributes.created}}</td>
            </tr>
            <tr>
              <td>Last modified</td>
              <td>{{d.data.attributes.modified}}</td>
            </tr>
          </table>
          <div class="text-right">
            <a href ng-click="delete()" class="btn btn-danger float-left">Delete</a>
            <a href="#!/ideas/{{d.data.id}}/edit" class="btn btn-primary ">Edit</a>
            <a href="#!/ideas" class="btn btn-secondary">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
